.topCss {
  background-color: lightpink;
  height: 200px;
  text-align: center;
  padding: 10px;
}

.explain {
  padding-top: 35px;
}
.search_div {
  padding: 3px;
}

#viewAccounts {
  margin: 15px;
  text-align: right;
}

#searchAll {
  width: 243px;
  height: 25px;
  border: 2px solid grey;
  border-radius: 3px;
}
